<template>
  <el-row class="tac">
    <el-col :span="10">
      <el-form :model="ruleForm"  ref="ruleForm" label-width="100px" class="demo-ruleForm">
        <el-form-item label="所在学校" prop="region">
          <el-select v-model="ruleForm.region" placeholder="请选择所在学校">
            <el-option :label="item.name" :value="item.id" v-for="(item,index) in this.school"  :key="index"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="分类" prop="resource">
          <el-radio-group v-model="ruleForm.resource">
            <el-radio :label="item.id" :name="type" v-for="(item,index) in this.backType"  :key="index">{{item.name}}</el-radio>
          </el-radio-group>
        </el-form-item>

        <el-form-item label="店名" prop="name">
          <el-input v-model="ruleForm.name"></el-input>
        </el-form-item>
        <el-form-item label="地址" prop="add">
          <el-input v-model="ruleForm.add"></el-input>
        </el-form-item>
        <el-form-item label="特色" prop="spe">
          <el-input v-model="ruleForm.spe"></el-input>
        </el-form-item>
        <el-form-item label="价格" prop="price">
          <el-input v-model="ruleForm.price"></el-input>
        </el-form-item>
        <el-form-item label="手机号" prop="iphone">
          <el-input v-model="ruleForm.iphone"></el-input>
        </el-form-item>
        <el-form-item label="微信" prop="wc">
          <el-input v-model="ruleForm.wc"></el-input>
        </el-form-item>
        <el-form-item label="图片" prop="pic">
          <el-upload
            action="#"
            list-type="picture-card"
            ref="uploadExcel"
            :auto-upload="false"
            :on-change="change"
            :http-request="uploadAvatar"
            :file-list="fileList"
            multiple
            :limit="9"
            name='fileData'
          >
            <i slot="default" class="el-icon-plus"></i>
            <div slot="file" slot-scope="{file}">
              <img
                class="el-upload-list__item-thumbnail"
                :src="file.url" alt=""
              >
              <span class="el-upload-list__item-actions">
        <span
          class="el-upload-list__item-preview"
          @click="handlePictureCardPreview(file)"
        >
          <i class="el-icon-zoom-in"></i>
        </span>
        <span
          v-if="!disabled"
          class="el-upload-list__item-delete"
          @click="handleDownload(file)"
        >
          <i class="el-icon-download"></i>
        </span>
        <span
          v-if="!disabled"
          class="el-upload-list__item-delete"
          @click="handleRemove(file)"
        >
          <i class="el-icon-delete"></i>
        </span>
      </span>
            </div>
          </el-upload>
        </el-form-item>
        <el-dialog :visible.sync="dialogVisible">
          <img width="100%" :src="dialogImageUrl" alt="">
        </el-dialog>

        <el-form-item label="详情" prop="desc">
          <el-input type="textarea" v-model="ruleForm.desc"></el-input>
        </el-form-item>


        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')">立即创建</el-button>
          <el-button @click="resetForm('ruleForm')">重置</el-button>
        </el-form-item>
      </el-form>

    </el-col>
  </el-row>
</template>
<script>
  import cookie from "vue-cookies"
  import {mapGetters} from "vuex";
  import axios from 'axios';
  var token = cookie.get('token') // 要保证取到
  export default {
    data() {
      return {
        myHeaders: {'X-Xnxw-Token': token},
        dialogImageUrl: '',
        dialogVisible: false,
        disabled: false,
        ruleForm: {
          add: '',
          desc: '',
          spe: '',
          iphone: '',
          price: '',
          region: '',
          name: '',
          resource: '',
          wc: ''
        },
        fileList: [],
        request: {
          address: "",
          contentText: "",
          feature: "",
          fileIdOrders: [],
          id: '',
          phone: "",
          price: "",
          schoolId: 0,
          storeName: "",
          topicTypeId: 0,
          wechat: "",
        },
        fileLen: [],
        formData: ''

      };
    },
    methods: {
      handleRemove(file) {
        debugger
        this.fileList=[]
        //this.$refs.uploadExcel.clearFiles()
      },
      handlePictureCardPreview(file) {
        this.dialogImageUrl = file.url;
        this.dialogVisible = true;
      },
      uploadAvatar(item) {
        debugger
        this.formData.append('fileData', item.file)
      },

      change(res, file, fileList) {
        this.fileLen = file
      },
      // 文件上传成功时的钩子
      uploadOnSuccess(res, file, fileList) {
        debugger


      },
      // 文件上传失败时的钩子
      uploadOnError(err, file, fileList) {

      },

      submitForm(formName) {
        debugger
        let that = this;
        if (!this.ruleForm.add  || !this.ruleForm.iphone || !this.ruleForm.price || !this.ruleForm.region || !this.ruleForm.name || !this.ruleForm.resource || !this.ruleForm.wc) {
          this.$message.error('请添加必要字段');
        }
        if (this.fileLen.length > 0||this.fileList.length>0) {
          this.formData = new FormData()
          this.$refs.uploadExcel.submit()
          axios.post('https://www.xiaodaotianhei.com/fileserver/document/upload/1/1', this.formData)
            .then(res => {
              for (let i = 0, h = res.data.data.length; i < h; i++) {
                that.request.fileIdOrders = that.request.fileIdOrders.concat({
                  'fileId': res.data.data[i].id,
                  'order': i,
                  'src': res.data.data[i].relativePath
                })
              }
              this.$refs.ruleForm.validate((valid) => {
                if (valid) {
                  that.request.address = that.ruleForm.add;
                  that.request.contentText = that.ruleForm.desc;
                  that.request.feature = that.ruleForm.spe;
                  that.request.phone = that.ruleForm.iphone;
                  that.request.price = that.ruleForm.price;
                  that.request.schoolId = that.ruleForm.region;
                  that.request.storeName = that.ruleForm.name;
                  that.request.topicTypeId = that.ruleForm.resource;
                  that.request.wechat = that.ruleForm.wc;
                  this.$store.dispatch('createStreet', that.request);
                } else {
                  console.log('error submit!!');
                  return false;
                }
              });
              resolve(res.data);
            })
            .catch(err => {
              reject(err.data)
            })
        } else {
          this.$message.error('请添加图片');
        }

      },
      resetForm(formName) {
        this.$refs[formName].resetFields();
      }
    },
    created() {
      this.$store.dispatch('getSchool', 2);
      this.$store.dispatch('getType', 2);
      if(this.$route.query.id){
        this.$store.dispatch('getBDetail', this.$route.query.id);
      }
    },
    mounted() {

    },
    watch: {
      backDetail() {
        debugger
        if (this.backDetail) {
          let pics=JSON.parse(this.backDetail.fileIdOrders);
          this.fileList= pics.map(function (item) {
            return{
              name:'',
              url:'https://www.xiaodaotianhei.com/document'+item.src
            }
          })
          this.ruleForm.add=this.backDetail.address
          this.ruleForm.desc=this.backDetail.contentText
          this.ruleForm.spe=this.backDetail.feature
          this.ruleForm.iphone=this.backDetail.phone
          this.ruleForm.price=this.backDetail.price
          this.ruleForm.region=this.backDetail.schoolId
          this.ruleForm.name=this.backDetail.storeName
          this.ruleForm.resource=this.backDetail.topicTypeId
          this.ruleForm.wc=this.backDetail.wechat
        }
      }
    },
    computed: {
      ...mapGetters([
        'backType', 'school', 'resetStatus','backDetail'
      ])
    }
  }
</script>
