<template>
  <div>
    <el-row class="tac">
      <el-col :span="24">
        <div v-for="(item, index) in this.releaseList">
          <span>{{item.contentText||item.content}}</span>
          <div class="block" style="margin: 10px 0">
            <el-image  style="width: 100px; height: 100px; margin-right: 10px"  v-for="(good, index) in item.releaseFiles"  :key="good"   :src="`https://www.xiaodaotianhei.com/document${good.fileRelativePath}`" fit="cover"></el-image>
          </div>
          <el-row>
            <el-button type="danger" @click="delBtn1(item.userId)">封号</el-button>
            <el-button type="warning"  @click="delBtn(item.releaseId||item.commentId)">删除</el-button>
            <el-button type="success" @click="delBtn2(item.complaintId)">解除</el-button>
          </el-row>
          <el-divider></el-divider>
        </div>
      </el-col>
    </el-row>
    <div class="noContentIcon"  v-if="this.releaseList!=null&&this.releaseList.length==0">
      <svg class="ant-empty-img-simple" width="64" height="41" viewBox="0 0 64 41" xmlns="http://www.w3.org/2000/svg"><g transform="translate(0 1)" fill="none" fill-rule="evenodd"><ellipse class="ant-empty-img-simple-ellipse" cx="32" cy="33" rx="32" ry="7"></ellipse><g class="ant-empty-img-simple-g" fill-rule="nonzero"><path d="M55 12.76L44.854 1.258C44.367.474 43.656 0 42.907 0H21.093c-.749 0-1.46.474-1.947 1.257L9 12.761V22h46v-9.24z"></path><path d="M41.613 15.931c0-1.605.994-2.93 2.227-2.931H55v18.137C55 33.26 53.68 35 52.05 35h-40.1C10.32 35 9 33.259 9 31.137V13h11.16c1.233 0 2.227 1.323 2.227 2.928v.022c0 1.605 1.005 2.901 2.237 2.901h14.752c1.232 0 2.237-1.308 2.237-2.913v-.007z" class="ant-empty-img-simple-path"></path></g></g></svg>
      <div>暂无相关内容</div>
    </div>
  </div>
</template>
<script>
import { mapGetters } from "vuex";
export default {
  data: () => ({

  }),
  methods: {
    delBtn(objectId) {
      debugger
      let type=this.$route.path.replace('/','')
      this.$confirm('是否删除该文件?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('deleteList',{objectId:objectId,objectType:type||0})
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        });
      });
    },
    delBtn1(userId) {
      debugger
      this.$confirm('是否冻结该账号?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.$store.dispatch('deleteUser',{userId:userId})
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '取消'
        });
      });
    }
  },
  created(){
    let type=this.$route.path.replace('/','')
    this.$store.dispatch('getList',type)
  },
  watch:{
    $route(to,from){
      console.log(to.path);
      let type=this.$route.path.replace('/','')
      this.$store.dispatch('getList',type)
    }
  },
  computed: {
    ...mapGetters([
      'releaseList',
    ])
  },

};
</script>
<style scoped>
  .el-button{
    float: right;
    margin-left: 10px;
  }
</style>
